# Configuration file for OpenSSL

[ req ]
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
C  = CA           # Country Name
ST = Ontario      # State or Province Name
L  = Toronto      # Locality Name
O  = Laptop       # Organization Name
CN = *.localhost  # Common Name (Wildcard for localhost)

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost       # Primary domain
DNS.2 = *.api.localhost     # Wildcard domain